apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: miniapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: backend:v1          # eigenes Image verwenden, wenn auf Rechner liegt, sonst Docker Hub!
        envFrom:
          - configMapRef:
              name: app-config
          - secretRef:
              name: app-secret
        ports:
          - containerPort: 3000