version: "3.9"                                #Version des Compose Dateiformats
services:                                     #ab hier werden unsere Container definiert
  db:                                         
    image: mariadb                            # offizielles MariaDB Image vom Docker Hub --> image beschreibt hier das ein image aus dem Docker Hub genommen werden soll
    environment:                              #Umgebungsvariablen --> z.B. Anmeldedaten, Name
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=pass
      - DB_NAME=demo
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  db_data: