apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: miniapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: nginx
        image: frontend:v1     # <-- eigenes Image
        imagePullPolicy: Never # Das setzen da wir mit lokalen Image arbeiten
        ports:
          - containerPort: 80
        resources:
          requests:
            cpu: "100m"
            memory: "64Mi"
          limits:
            cpu: "250m"
            memory: "128Mi"