apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  namespace: miniapp
spec:
  replicas: 5
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
      - name: mariadb
        image: mariadb:12.0.2
        env:
          - name: MARIADB_ROOT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: app-secret
                key: DB_PASSWORD
          - name: MARIADB_DATABASE
            valueFrom:
              configMapKeyRef:
                name: app-config
                key: DB_NAME
        ports:
          - containerPort: 3306
        volumeMounts:
            - name: db-storage
              mountPath: /var/lib/mysql  
      volumes:
        - name: db-storage
          persistentVolumeClaim:
            claimName: db-pvc        